{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>TDI Capstone</h1>
    <h2>Garrick Bruening</h2>
    <p style='font-size:120%'>
      Providing more meaningful insights for millions of unique users in an online video game.
    </p>
    
    <!-- {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %} -->
  </div>
{% endblock %}