<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta charset="utf-8"> -->
        <script src="https://d3js.org/d3.v4.js"></script>
    <style>
    </style>
            <title>D3 Test</title>
            <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    </head>
    <body>
        <h1>First html document</h1>
    
        <!-- Add a bit of text -->
        <p>This is my first sentence</p>
        
        <!-- Add a svg shape. Note that the 'target' class is attributed to the circle -->
        <!-- <svg> 
          <circle class="target" style="fill: #69b3a2" stroke="black" cx=50 cy=50 r=40></circle>
        </svg> -->
        
        <!-- Load d3.js -->
        <svg id = 'svg' style = 'width:100%; height: 800px'></svg>

        <script>
            // const svg = d3.create('svg').attr('viewBox', [0, 0, width, 200]);
            var svg = d3.select('#svg');

            svg
            .append('circle')
            .attr('cx', '50%')
            .attr('cy', '50%')
            .attr('r', 20)
            .style('fill', 'green');
    
        </script>
    </body>
</html>  