<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta charset="utf-8"> -->
        <script src="https://d3js.org/d3.v4.js"></script>
    <style>
    </style>
            <title>Single Guild Progress</title>
            <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    </head>
    <body bgcolor="#000000" text = '#FFFFFF'>
        <!-- <h1>Pull Data</h1> -->
    
        <!-- Add a bit of text -->
        <!-- <p>This is my first sentence</p> -->
        <!-- <iframe src="http://localhost:5000/SingleGuild" onload="this.width=screen.width;this.height=screen.height;" frameBorder="0"> -->
        <iframe src="http://localhost:5000/SingleGuild_app" width = 1100px height = 1000px frameBorder="0">
    </body>
</html>  