{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>TDI Capstone</h1>
    <p style='font-size:120%'>
      Providing more meaningful insights for millions of unique users in an online video game.
      <br>  
      <!-- ADD page about how it was made/works.
      Name, email, and github link -->
    </p>
    <h2>Garrick Bruening</h2>
    <p style = 'font-size:100%'>
      <a href = 'https://gbruening.github.io/'>Website</a> &emsp;
      <a href = 'mailto: garrickbruening@gmail.com'>Email</a> &emsp;
      <a href = 'https://github.com/GBruening/succes_predictor/tree/TDI_final'>Github</a>  
    </p>
    
    <!-- {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %} -->
  </div>
{% endblock %}